* {
    box-sizing: border-box;
}
.secao-pilotos {
    color: #000;
    text-align: center;
    background: #EEEEEE;
    width: 93%;
    height: 50rem;
    margin: auto;  
} 

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;  
    max-width: 62.5rem;
    grid-gap: 2.5rem;
    margin: 2.5rem auto;
    justify-content: center;       
}

.card {   
    border: 1px solid #000; 
    padding: 0 0 0px; 
    background: #1F2738;  
}

.imagem-piloto {
    width: 12.5rem;
    height: 9.37rem;
    object-fit: cover;
}

.card:hover {
    border: 2px solid #F56F36;
    background-color: #F56F36;
}

.id-piloto {
    padding: 1rem;
    color: #fff; 
}

.id-piloto:hover {
    background: #F56F36
}
